:root {
    --maroon: #8C0335;
    --purple: hsl(265, 94%, 49%, 0.73);
    --blue: hsl(225, 96%, 28%, 0.73);
    --tan: #593B02;
    --brown: #591902;
}

body {
    background-image: url("../images/austin-skyline.jpg");   
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    background-color: hsl(225, 94%, 19%);
    opacity: 0.9;
}

nav ul {
    display: flex;
    background-color: var(--light-orange);
    justify-content: space-around;
    
}
  
nav ul li {
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
}

header {
    text-align: center;
    padding: 15% 0 60px 0;
    color: white;
    background-color: var(--blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 10em;
    font-weight: 400;
}

h2{
    font-size: 3em;
    font-weight: 200;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
}

main {
    padding:4% 0 4% 0;
    background-color: var(--blue);
    
}

#main-project {
    width:42em;
    height: 40em;
    border: white 5px solid;
    margin: 1em;
    display: block;
    position: relative;
}

.text {
    background-color: white;
    color:yellowgreen;
    position: absolute;
    width: 42em;
    height: 8em;
    bottom: 100px;

}




#profile img {
    max-width: 100%;
    height: auto;
}

#project-2 img {
    box-shadow: inset 0px 0px 0px 1000px hsl(120, 43%, 41%, 0.75)
}

#projects-2and3, #projects-4and5 {
    margin: 1em;
    color: white;

}

#project-2 {
    width: 20em;
    height: 19em;
    border: white 5px solid;
    margin-right: 1em;
    
}

#project-3 {
    width: 20em;
    height: 19em;
    border: white 5px solid;
    margin-left: 1em;
}

#project-4 {
    width: 20em;
    height: 19em;
    border: white 5px solid;
    margin-right: 1em;
}

#project-5 {
    width: 20em;
    height: 19em;
    border: white 5px solid;
    margin-left: 1em;
}

.project-5:hover {
    : white;
}

section {
    background-color: var(--blue);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4%;
}

#profile {
    width: 19em;
    height: 30em;
    margin-right: 2em;
}

.bio {
    display:flex;
    flex-wrap: wrap;
}

#about-me {

    width: 70em;
    height: 23em;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    overflow-wrap: break-word;
    
}
#about-me h3 {
    font-size: 5em;
    text-align: center;
    padding-bottom:0.4em
}

#about-me h4 {
    font-size: 1.5em;
    line-height: 1.5;
    
}

#social {

    width: 70em;
    height: 4em;
}

.icon {
    width: 3.5em;
    height: 3.5em;
    background:none;
}

.icon:hover {
    background: white;
}

.icon-list {
    display:flex;
    justify-content: space-evenly;
}

.icon-list li {
    justify-content: space-evenly;
    padding: 0 5em 0 5em;
    
}

footer {
    background-color: hsla(242, 56%, 66%);
    height: 100px;
    text-align: center;
}

footer h4 {
    color: white;
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px
}

@media screen and (max-width: 992px) {
}


@media screen and (max-width: 768px) {
    ul,
    li {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 620px) {
    #project-2 {
        margin: 0px;
    }  
    #project-3 {
        margin: 0px;
      }
    #project-4 {
        margin: 0px;
    }  
    #project-5 {
        margin: 0px;
    } 
  }
